body{
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
    color:#333;
}
.header{
    background-color: #2563eb;
    color:white;
    padding:20px;
    text-align:center;

}
.header h1{
    margin-bottom:8px;
}
.header p{
    font-size:14px;
    opacity:0.9;
}
.navbar{
    background-color: white;
    padding:12px;
    text-align:center;
}
.navbar a{
    text-decoration:none;
    margin:0 12px;
    color: #2563eb;
    font-weight: 600;;
}
.navbar a:hover{
    text-decoration : underline;

}
.navbar{
    border-bottom: 1px solid #ddd;
}
.form-group{
    margin-bottom: 15px;
}
input{
    width:100%;
    padding:8px;
    margin-top:4px;
    border:1px solid #ccc;
    border-radius: 4px;
}
h2{
    margin-bottom:15px;
}
button{
    background-color: #2563eb;
    color:white;
    padding:8px 15px;
    border: none;
    border-radius:4px;
    cursor:pointer;
}
button:hover{
    background-color: #1e4fc4;

}
.form-card{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}
@media (max-width:600px){
    .formcard{
        width:90%;
        margin:20px auto;

    }
    .navbar a{
        display: block;
        margin:8px 0;
    }
}
